@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

body {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: crimson;
}

.topo {
  width: 100%;
  height: 92px;
  background-color: #CF2B2B;
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0px 7px 12px -6px #000000;

  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 44px;
  line-height: 40px;
  color: #FFFFFF;
  margin-left: 21px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  color: #FFFFFF;
  margin-left: 21px;
}

.conteudo {
  background-color: #E5E5E5;
  width: 414px;
  box-sizing: border-box;
  padding-top: 123px;
}

.prato,
.bebida,
.sobremesa {
  margin-bottom: 27px;
}

.conteudo > :last-child {
  margin-bottom: 108px;
}

h3 {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 32.28px;
  margin-bottom: 17px;
  margin-left: 19px;
}

.cards {
  display: flex;
  align-items: center;
  height: 220px;
  padding-right: 19px;
  padding-left: 19px;
  overflow-x: scroll;
}

.cards > :nth-child(-n+2) {
  margin-right: 16px;
}

.card {
  width: 172px;
  height: 216px;
  box-sizing: border-box;
  padding: 18px 14px 13px 14px;

  background-color: #FFFFFF;
  border-radius: 9px;

  box-shadow: 0px 0px 9px -4px #000000;

  position: relative;
}

.check {
  display: none;
}

.checkyes {
  display: initial;

  position: absolute;
  bottom: 9px;
  right: 15px;
}

.card :last-child {
  width: 15px;
  height: 15px;
}

.selected {
  box-shadow: 0px 0px 0px 5px #32B72F inset;
}

.cards img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
  object-fit: cover;


  margin-bottom: 8px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  color: #333333;

  margin-bottom: 4px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 17.58px;
  color: #A6A6A6;

  margin-bottom: 10px;
}

.preco {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #000000;
  margin: 0;
}

.base {
  width: 100%;
  height: 92px;
  background-color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 7px 12px -6px #000000;

  position: fixed;
  bottom: 0;
  left: 0
}

a {
  text-decoration: none;
}

.botao {
  width: 364px;
  height: 61px;
  border-radius: 50px;
  background-color:#CBCBCB;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ativo {
  background-color:#32B72F;
}

.botao p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;

  box-sizing: border-box;
  padding: 0 75px;
}

